<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dettaglio Corso</title>
    <meta th:replace="fragments/resources">
</head>

<body>
    <nav th:replace="fragments/navbar"></nav>
    <div class="container text-center mt-5">
        <h1>Dettaglio Corso</h1>

        <div th:if="${corso != null}">
            <p>ID Corso: <span th:text="${corso.id}"></span></p>
            <p>Nome Corso: <span th:text="${corso.nome}"></span></p>
            <p>Settore: <span th:text="${corso.settore}"></span></p>
            <p>Prezzo: <span th:text="${corso.prezzo}"></span></p>

            <br>
            <h2>Date degli Esami</h2>
            <div>
                <table border="1" class="table">
                    <thead>
                        <tr>
                            <th>Data Esame</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="esame : ${corso.dateEsami}">
                            <td th:text="${#temporals.format(esame.dataEsame,'dd-MM-yyyy HH:mm')}"></td>
                            <td>
                                <form th:action="@{'/' + ${userId} + '/prenotazione'}" method="post">
                                    <input type="hidden" name="esameId" th:value="${corso.id}" />
                                    <input type="hidden" name="importo" th:value="${corso.prezzo}" />
                                    <input type="hidden" name="dataEsame" th:value="${corso.dataEsame}" />
                                    <button type="submit" class="btn btn-primary">Prenota</a>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Altri dettagli del corso o azioni possono essere aggiunti qui -->

    </div>
    <div th:unless="${corso != null}">
        <p>Corso non trovato</p>
    </div>

</body>

</html>