<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <title>esami</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta th:replace="fragments/resources">
</head>


<body>
    <nav th:replace="fragments/navbar"></nav>

    <div class="alert alert-primary" role="alert" th:if="${corsi.size()==0}">
        <h3>Nessun prodotto trovato</h3>
    </div>

    <div class="container">
        <table class="table table-success table-striped table-hover" th:if="${corsi.size()>0}">
            <!-- intestazione della tabella -->
            <thead>
                <tr>
                    <th class="text-end">Id</th>
                    <th>Nome</th>
                    <th class="text-end">Settore</th>
                    <th>Prezzo</th>

                    <th>Dettaglio</th>
                    <th>Modifica</th>
                    <th>Elimina</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="e: ${corsi}">

                    <td class="text-end" th:text="${e.id}"></td>
                    <td th:text="${e.nome}"></td>
                    <td class="text-end" th:text="${e.settore}"></td>
                    <td th:text="${#numbers.formatCurrency(e.prezzo)}"></td>
                    <td><a th:href="|/Studente/corso/dettaglio/${e.id}|"><i class="fa-solid fa-eye td-button"
                                title="Mostra dettaglio"></i></a></td>
                    <td><a sec:authorize="hasAuthority('Admin')" th:href="|/Esami/modifica/${e.id}|"><i
                                class="fa-solid fa-pen-to-square td-button" title="Modifica"></i></a></td>
                    <td><a sec:authorize="hasAuthority('Admin')" th:href="|/Esami/elimina/${e.id}|"
                            onclick="return confirm('Sei sicuro/a?')"><i class="fa-solid fa-trash td-button"
                                title="Elimina"></i></a></td>

                </tr>
            </tbody>
        </table>
    </div>


    </div>
</body>


</body>

</html>