<html xmlns:th="http://www.thymeleaf.org/" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<div th:fragment="navbar(current)">

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/img/logo-corsi-online.svg" alt="Bootstrap" width="100px">
                CORSI-ONLINE
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                            th:href="@{'/Studente/' + ${user.id} + '/corsi'}">
                            Corsi
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{'/Studente/' + ${user.id} + '/prenotazioni'}">
                            Prenotazioni
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Calendario
                        </a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    </body>

</html>