<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.css} " />
    <title>esami</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>


<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/img/logo-corsi-online.svg" alt="Bootstrap" width="100px" >
                CORSI-ONLINE
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            Corsi
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Prenotazioni
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Calendario
                        </a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                    
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="alert alert-primary" role="alert" th:if="${corsi.size()==0}">
        <h3>Nessun prodotto trovato</h3>
    </div>

    <div class="container">
        <table class="table table-success table-striped table-hover" th:if="${corsi.size()>0}">
            <!-- intestazione della tabella -->
            <thead>
                <tr>
                    <th class="text-end">Id</th>
                    <th>Nome</th>
                    <th class="text-end">Settore</th>
                    <th>Prezzo</th>

                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="e: ${corsi}">

                    <td class="text-end" th:text="${e.id}"></td>
                    <td th:text="${e.nome}"></td>
                    <td class="text-end" th:text="${e.settore}"></td>
                    <td th:text="${#numbers.formatCurrency(e.prezzo)}"></td>
                    <td><a th:href="|/Esami/dettaglio/${e.id}|"><i class="fa-solid fa-eye td-button"
                                title="Mostra dettaglio"></i></a></td>
                    <td><a sec:authorize="hasAuthority('Admin')" th:href="|/Esami/modifica/${e.id}|"><i
                                class="fa-solid fa-pen-to-square td-button" title="Modifica"></i></a></td>
                    <td><a sec:authorize="hasAuthority('Admin')" th:href="|/Esami/elimina/${e.id}|"
                            onclick="return confirm('Sei sicuro/a?')"><i class="fa-solid fa-trash td-button"
                                title="Elimina"></i></a></td>

                </tr>
            </tbody>
        </table>
    </div>


    </div>
</body>


</body>

</html>